.comment-box-container{
  border-radius: 20px;
  border: 1px solid #E7DFDF;
  background-color: rgb(247, 247, 247);
  -webkit-box-shadow: 3px 3px 2px 0px rgb(218, 218, 218);
  -moz-box-shadow: 3px 3px 2px 0px rgb(218, 218, 218);
  box-shadow: 3px 3px 2px 0px rgb(218, 218, 218);
}