.header-container{
  height: 60px;
  border-bottom: 3px solid #E7DFDF;

  nav{
    z-index: 100;
  
    .navbar-brand i{
      color: red;
    }

    .navbar-toggler{
      border: none;
      outline-color: transparent;
    }

    .username{
      &:hover{
        text-decoration: underline;
      }

      a{
        color: #000000 !important;
      }
      .picture{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background-color: lightgray;
        
      }
    }
  }
}

@media (max-width: 768px) {
  .header-container{
    .navbar-collapse{
      background-color: #FFFFFF;
      margin: 7px -18px 0px -18px;
      border-bottom: 3px solid #E7DFDF;
    }
  }
}



@media (max-width: 320px) {
  .header-container{
    .navbar-brand{
      font-size: 17px;
    }
    .navbar-collapse{
      margin: 8px -18px 0px -18px;
    }
  }
}
