
@font-face {
  font-family: BrixSansRegular;
  src: url(./fonts/BrixSansRegular.otf);
}


html,
body {
  height: 100%;
  width: 100%;
  font-family: BrixSansRegular !important;
  font-size: 18px;
}
  