.timetable-container{
  table{
    border: 1px solid #000000 !important;
  }
  .current-user{
    background-color: #D3EBFD;
  }
  .current-day{
    background-color: #F9CFD5 !important;
    // color: #E54A53 !important;
  }

  .weekend-day{
    background-color: rgb(236, 236, 236);
  }
  .picture{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgray;
  }

  .user-norm{
    font-size: 14px;
  }

  .other-tt-dates{
    
  }
}
table.table-bordered > thead > tr > th, table.table-bordered > tbody > tr > td{
  border:1px solid #000000;
}