
.login-container{

  .wrapper{
    height: calc(100vh - 60px);
    .login-form{
      background-image: linear-gradient(to bottom, white, #fef9f6);
      // background-color:#F8F8F8;
      // clip-path: ellipse(62% 93% at 39% 47%);
      form{
        width: 60%;
      }
    }
    .picture{
      // background-image: linear-gradient(to top, rgb(255, 140, 132), rgb(240, 240, 240));
      background-image: url(../../images//login.jpg);
      background-size: cover;
      background-repeat: no-repeat;

      .text{
        position: absolute;
        top: 50px;
        left: 50px;
        max-width: 50vh;
      }
    }
  }
}